html {
  background: url("img/grass2.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

html, body {
  width: auto;
  height: 94vh;
}

#pagetitle {
  font-family: "Gill Sans MT";
  background: rgba(214, 253, 183, 0.87);
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  width: auto;
  letter-spacing: 0.3em;
}

#giphys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-self: center;
  padding: 10px;
  margin: 10px;
  width: 80%;
  position: absolute;
  flex-wrap: wrap;
}

.giphypack {
  margin: 5px;
}

img.blurry {
  opacity: 0.1;
}