body {
  background: rgb(28, 28, 109);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container firstrow {
  display: flex;
  flex-direction: row;
}

.container secondrow {
  display: flex;
  flex-direction: row;
}

.button {
  border: none;
  margin: 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
  border-radius: 4px;
  width: 150px;
  height: 60px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
 filter: brightness(110%);
}

.button:active {
  filter: brightness(90%);
}

.button:focus {
  outline: none;
}

.blue {
  background: rgb(81, 81, 182);
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}

.green {
  background: rgb(25, 145, 25);
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}

.red {
  background: rgb(207, 28, 28);
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}

.light {
  background: rgb(61, 174, 240);
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}

.black {
  background: black;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}

.white {
  background: #ffffff;
  color: black;
  box-shadow: inset 0 -3px rgba(0, 0, 0, 0.5);
}