<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Workshop: beautiful gallery</title>
  </head>
  <body>
    <p class="tryout"><%=message%></p>
    <img src="https://images.theconversation.com/files/64453/original/js7ptn5n-1415855719.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip">
    <script src="index.js"></script>
  </body>
</html>