.container {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: yellow;
  height: 400px;
  list-style-type: none;
  padding-right: 0;
}

.item {
  width: 10em;
  height: 10em;
  background-color: rgba(175, 105, 189, 0.89);
  margin-left: 1em;
}
