body {
  background: lightgrey;
  height: 94vh;
  width: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

#firstpic {
  width: 50%;
  height: 23%;
  min-width: 160px;
  min-height: 90px;
}

.descriptionBox {
  background: rgba(0, 0, 0, 0.247);
  position: absolute;
  bottom: 0px;
  width: 50%;
  height: 25%;
  min-width: 160px;
  min-height: 22px;
}

.descriptionBox p {
  color: white;
  position: relative;
  padding-left: 1em;
  font-weight: bold;
}

.descriptionBox p:nth-child(1) {
 text-transform: uppercase;
}

#buttonNext {
  transform: rotate(180deg);
}
